body {
  padding: 50px;
  margin: 0;
}

.container {
  border: 3px solid #111111;
  padding: 50px;
  text-align: center;
  background-color: rgb(245, 243, 243);
}

.header-container h1 {
  font-family: "Acme", sans-serif;
  color: rgb(26, 19, 46);
}

.header-container h4,
h5 {
  font-family: sans-serif;
  color: rgb(47, 42, 59);
}
.header-container h5 {
  color: rgb(55, 51, 65);
  padding-bottom: 50px;
}

#profile-image {
  height: 35rem;
  width: 50rem;
  padding: 0px 30px 10px 30px;
}

.info-container {
  text-align: left;
}

.about {
  font-family: sans-serif;
  color: rgb(43, 30, 75);
  line-height: 25px;
  font-size: 17px;
  word-wrap: normal;
}

blockquote {
  padding: 10px 20px;
  margin: 30px 0 10px;
  font-size: 17.5px;
  border-left: 5px solid rgb(175, 166, 166);
  
}

.music-list {
  padding-top: 50px;
}

.sub-head-title {
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  color: rgb(47, 42, 59);
  padding-top: 20px;
  
}

.list-container {
  text-align: left;
  font-family: sans-serif;
  color: rgb(43, 30, 75);
  line-height: 35px;
}


.ref-links {
  text-align: left;
  font-family: sans-serif;
  color: rgb(43, 30, 75);
}
.more-list a{
  text-decoration: none;
  color: rgb(43, 30, 75);
  
}

.more-list a:hover {
  color: rgb(61, 75, 153);
}